/* @font-face {
    font-family: "My-Font";
    src: url("./../fonts/My-Font.woff") format("woff"),
      url("./../fonts/My-Font.eot"),
      url("./../fonts/My-Font.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-black text-white;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: $light;
  border: $white;
}
*::-webkit-scrollbar-thumb {
  background: $text-color;
  border-radius: 7px;
}
*::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

img {
  max-width: 100%;
}
