.av-wrapper {
  position: relative;
}

.av-animation-duration {
  transition-duration: 300ms;
  $i: 0;
  @while $i <= 5000 {
    $i: $i + 100;
    &--#{$i} {
      transition-duration: #{$i}ms;
    }
  }
}
.av-animation-delay {
  transition-delay: 0;
  $i: 0;
  @while $i <= 5000 {
    $i: $i + 100;
    &--#{$i} {
      transition-delay: #{$i}ms;
    }
  }
}
.av-animation-easing {
  &--linear {
    transition-timing-function: linear;
  }
}

.av-animation {
  @extend .av-animation-easing--linear;
  &--fade {
    transition-property: opacity;
    opacity: 0;
    &.av-ani-end {
      opacity: 1;
    }
  }
}
