.av-animation-duration {
  transition-duration: 600ms;
  $i: 0;
  @while $i <= 5000 {
    $i: $i + 100;
    &--#{$i} {
      transition-duration: #{$i}ms;
    }
  }
}
.av-animation-delay {
  transition-delay: 0ms;
  $i: 0;
  @while $i <= 5000 {
    $i: $i + 100;
    &--#{$i} {
      &.av-ani-end {
        transition-delay: #{$i}ms;
      }
    }
  }
}
.av-animation-easing {
  &--linear {
    transition-timing-function: linear;
  }
}

.av-animation {
  @extend .av-animation-easing--linear;
  position: relative;
  &--av-style-01 {
    transition-property: opacity;
    opacity: 0;
    &.av-ani-end {
      opacity: 1;
    }
  }
  &--av-style-02 {
    transition-property: all;
    opacity: 0;
    transform: translate(-20px, 0);
    &.av-ani-end {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  &--av-style-03 {
    transition-property: all;
    opacity: 0;
    transform: translate(20px, 0);
    &.av-ani-end {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  &--av-style-04 {
    transition-property: all;
    opacity: 0;
    transform: translate(0, -20px);
    &.av-ani-end {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  &--av-style-05 {
    transition-property: all;
    opacity: 0;
    transform: translate(0, 20px);
    &.av-ani-end {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  &--av-style-06 {
    transition-property: clip-path;
    clip-path: inset(100% 0px 0px 0px);
    &.av-ani-end {
      clip-path: inset(0px 0px 0px 0px);
    }
  }
  &--av-style-07 {
    transition-property: clip-path;
    clip-path: inset(0px 100% 0px 0px);
    &.av-ani-end {
      clip-path: inset(0px 0px 0px 0px);
    }
  }
  &--av-style-08 {
    transition-property: clip-path;
    clip-path: inset(0px 0px 100% 0px);
    &.av-ani-end {
      clip-path: inset(0px 0px 0px 0px);
    }
  }
  &--av-style-09 {
    transition-property: clip-path;
    clip-path: inset(0px 0px 0px 100%);
    &.av-ani-end {
      clip-path: inset(0px 0px 0px 0px);
    }
  }
  &--av-style-10 {
    overflow: hidden;
    > * {
      transition-duration: inherit;
      transition-delay: inherit;
      transition-timing-function: inherit;
      transition-property: transform;
      transform: scale(1.25);
    }
    &.av-ani-end {
      > * {
        transform: scale(1);
      }
    }
  }
  &--av-style-11 {
    overflow: hidden;
    > * {
      transition-duration: inherit;
      transition-delay: inherit;
      transition-timing-function: inherit;
      transition-property: transform;
      transform: scale(1);
    }
    &.av-ani-end {
      > * {
        transform: scale(1.25);
      }
    }
  }
}
